/* macbook width */

@media only screen and (max-width:1440px){
   
}

@media only screen and (max-width:1366px){
   
}

@media only screen and (max-width:1200px){
   
}

@media only screen and (max-width:992px){    
    .quote-box-img{
        width: 300px;
        height: 200px;
    }
    .quote .quote-box{
        margin-top: -50px;
        margin-left: 100px;
    }
}

/* iPhone X width */

@media only screen and (max-width:882px){
    .top-title{
        width: 30%;
    }

    .box-img{
        display: none;
    }

    .img-bg{
        left: 600px;
    }

    .quote-box-img{
        display: none;
    }

    .quote .quote-box{
        margin-top: 30px;
        margin-left: 0px;
    }
}

@media only screen and (max-width:768px){
    .menu-bth{
        right: -97px;
    }

    .menu-bth-active{
        right: -50px;
    }

    .main-title p{
        font-size: 150px;
    }

    .quote .quote-box{
        width: 550px;
    }
}

/* iPhone 6/7/8 Plus samsung s9 width */

@media only screen and (max-width:740px){
    
}

/* iPhone 6/7/8 Plus width */

@media only screen and (max-width:736px){
   
}

/* iPhone 6/7/8  width */

@media only screen and (max-width:667px){
    .nav-bar{
        width: 60%;
    }

    .post-two{
        margin: 0 5%;
    }

    .quote{
        margin: 0 10%;
    }
}

/* iPhone 5/SE  width */

@media only screen and (max-width:568px){
    .menu-bth{
        top: 30px;
        right: -80px;
    }

    .menu-bth-active{
        right: -50px;
    }

    .main-title p{
        font-size: 120px;
        margin: -80px 0 0 0;
    }

    .top-title{
        width: 40%;
    }

    .top-title p{
        font-size: 30px;
    }

    .quote .quote-box{
        width: 450px;
    }

    .quote-box p:nth-child(1){
        font-size: 16px;
    }

    .quote-one h3{
        font-size: 26px;
    }

    .quote-title{
        padding-left: 0px;
    }

}

@media only screen and (max-width:480px){
    .menu-bth{
        right: -70px;
    }

    .menu-bth-active{
        right: -50px;
    }

    .main-title p{
        font-size: 80px;
        margin: -50px 0 0 0;
    }

    .post h3{
        font-size: 26px;
    }
    
    .post p{
        font-size: 16px;
    }

    .post-two{
        padding-top: 100px;
    }

    .post-two h3{
        font-size: 26px;
    }

    .post-two p{
        font-size: 16px;
    }

    .quote-one h3{
        font-size: 26px;
    }

    .quote .quote-box{
        width: 400px;
    }
}


/* iPhone 6/7/8 Plus */


@media only screen and (max-width:414px){
    .quote .quote-box{
        width: 330px;
    }

    .subscrib{
        width: 400px;
    }
}

/* iPhone 6/7/8 and X */


@media only screen and (max-width:375px){

    .menu-bth{
        right: -60px;
    }

    .quote .quote-box{
        width: 300px;
    }
    .subscrib{
        width: 350px;
    }

    .form-poss{
        display: flex;
        flex-direction: column;
    }

    .subscrib p{
        width: 300px;
    }

    .form-poss input{
        margin-top: 10px;
        width: 260px;
    }
}

/* samsung galaxy s5 */


@media only screen and (max-width:360px){
   
}

@media only screen and (max-width:320px){
    .top-title{
        width: 50%;
    }

    .top-title p{
        padding: 15px 0;
        font-size: 30px;
    }
    
    .main-title p{
        font-size: 70px;
        margin: -40px 0 0 0;
    }

    .post h3{
        font-size: 18px;
    }

    .post-two h3{
        font-size: 18px;
    }

    .quote-one h3{
        font-size: 18px;
    }

    .quote .quote-box{
        width: 270px;
    }

    .subscrib{
        width: 300px;
    }
}